@use '../global' as *;

.p-news-list__link{
    display: grid;
    grid-template:
        "labeling .....  img"
        "title    .....  img"
        "time     .....  img"
        /calc(207 / 335 * 100%)  auto calc(120 / 335 * 100%);
    @include mq(md){
        width: 100%;
        grid-template:
        "labeling ....   img"
        "title    ....   img"
        "time     ....   img"
        /rem(770) rem(30) rem(300);
    }
}

.p-news-list:not(:first-child) {
    margin-top: rem(32);
    @include mq(md){
        margin-top: rem(40);
    }
}

.p-news-list__label {
    grid-area: labeling;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(14);
    line-height: calc(14 / 14);
    padding: 0 rem(6);
    width: fit-content;
    @include mq(md){
        font-size: rem(16);
        line-height: calc(32 / 16);
        padding: 0 rem(8);
    }
}

.p-news-list__title {
    grid-area: title;
    font-size: rem(16);
    line-height: calc(22 / 16);
    margin-top: rem(7);
    // 文字数制限
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; //2行まで
    @include mq(md){
        font-size: rem(24);
        line-height: calc(40 / 24);
        margin-top: rem(24);
    }

}

.p-news-list__time {
    grid-area: time;
    font-size: rem(12);
    line-height: calc(12 / 12);
    margin-top: rem(7);
    @include mq(md){
        font-size: rem(16);
        margin-top: rem(24);
    }
}

.p-news-list__img-wrap {
    grid-area: img;
    width: 100%;
    height: auto;
}

.p-news-list__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}