@use '../global' as *;

.p-top-treatment{
    margin-top: rem(120);
    @include mq(md){
        margin-top: rem(160);
    }
}

.p-top-treatment__body{
    @include mq(md){
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.p-top-treatment__img-wrap{
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    @include mq(md){
        margin-left: initial;
        margin-right: initial;
        width: 50%;
    }
}
.p-top-treatment__img{
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    @include mq(md){
        max-width: none;
        margin-right: initial;
        margin-left: initial;
        width: 100%;
    }
}

.p-top-treatment__content{
    margin-top: rem(60);
    display: flex;
    align-items: center;
    flex-direction: column;
    @include mq(md){
        width: 50%;
        margin-top: 0;

    }
}

.p-top-treatment__content-subtitle{
    font-size:rem(20);
    line-height: calc(34 / 20);
    text-align: center;
    margin-top: rem(40);
}

.p-top-treatment__content-text{
    font-size:rem(14);
    line-height: calc(24 / 14);
    margin-top: rem(40);
    text-align: center;
}

.p-top-treatment__btn-wrap{
    margin-top: rem(60);
    @include mq(md){
        margin-top: rem(80);
    }
}