@use '../global' as *;

.sidebar{
max-width: 500px;
width: 100%;
margin-right: auto;
margin-left: auto;
@include mq(md){
    max-width: none;
    background-color: $skyblue;
    padding: rem(80) rem(40);
}
}

.sidebar .widget_block:not(:first-child){
    margin-top: rem(60);
    @include mq(md){
        margin-top: rem(120);
    }
}


.sidebar .wp-block-heading{
    font-size:rem(22);
    line-height: calc(22 / 22);
    padding-bottom: rem(24);
    padding-left: rem(29);
    border-bottom: 1px solid rgba($color: $gray, $alpha: 0.5);
    @include mq(md){
        font-size: rem(28);
        padding-bottom: rem(24);
        padding-left: 0;
    }
}

.sidebar .widget_block ul{
    margin-top: rem(24);
    @include mq(md){
        margin-top: rem(40);
    }
}

.sidebar .widget_block li{
    width: rem(219);
    margin-right: auto;
    margin-left: auto;
    position: relative;
    @include mq(md){
        width: 100%;
    }
}

.sidebar .widget_block li::after{
    content: "";
    position: absolute;
    top: rem(3);
    right: rem(4);
    width: rem(10);
	height: rem(10);
	transform: rotate(-45deg);
	border: 2px solid $darkblue;
    border-radius: rem(1);
    border-top: none;
    border-left: none;
}

.sidebar .widget_block li:not(:first-child){
    margin-top: rem(32);
    @include mq(md){
        margin-top: rem(40);
    }
}

.sidebar .widget_block li a{
    display: block;
    font-size:rem(16);
    line-height: calc(16 / 16);
}


